
<div class="menu-index">
  <h2>献立リスト</h2>
  <div class="row row-cols-1 row-cols-md-3 recipe-table">
    <table class="table">
      <% @menus.each do |menu| %>
        <tr>
          <td class="row">
            <div class="col-md-4 recipe-img">
              <%= image_tag menu.recipe.image.url if menu.recipe.image? %>
            </div>
            <div class="col-md-6 recipe-info">
              <div class="title">
                <%= link_to menu.recipe.title, recipe_path(menu.recipe) %>
              </div>
              <div class="description">
                <%= menu.recipe.description %>
              </div>
              <div class="details">
                <%= "#{menu.recipe.user.name}  /  調理時間 #{menu.recipe.cooking_time.to_s} 分" %>
              </div>
            </div>
            <div class="col-md-2">
              <%= menu.servings_for %> 人分
            </div>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
  <hr>

  <table class="table">
    <tr>
      <th>id</th>
      <th>name</th>
      <th>quantity</th>
    </tr>

    <% @ingredients.each do |ingredient| %>
      <tr>
        <td><%= ingredient[:id] %></td>
        <td><%= ingredient[:name] %></td>
        <td><%= ingredient[:quantity] %></td>
      </tr>
    <% end %>
  </table>

</div>