<h1>レシピ作成ページ</h1>
<%= form_for @recipe do |recipe| %>
  <div class="field">
      <%= recipe.label :title, "タイトル" %><br />
      <%= recipe.text_field :title %>
  </div>

  <%= fields_for @category do |category| %>
    <div class="field">
      <%= category.label :name, "カテゴリー" %><br />
      <%= category.text_field :name %>
    </div>
  <% end %>

  <%= render 'recipe_procedure_fields', f: recipe %>

  <div class="actions">
    <%= recipe.submit '追加' %>
  </div>
<% end %>