<h1>レシピ作成ページ</h1>
<%= form_for @recipe do |recipe| %>
  <div class="field">
      <%= recipe.label :title, "タイトル" %><br />
      <%= recipe.text_field :title %>
  </div>

  <div class="field">
    <%= recipe.label :image, "画像" %><br />
    <%= recipe.file_field :image %>
  </div>

  <div class="field">
    <%= recipe.label :description, "説明" %><br />
    <%= recipe.text_field :description %>
  </div>

  <div class="field">
    <%= recipe.label :cooking_time, "時間" %><br />
    <%= recipe.number_field :cooking_time %>
  </div>

  <%= fields_for @category do |category| %>
    <div class="field">
      <%= category.label :name, "カテゴリー" %><br />
      <%= category.text_field :name %>
    </div>
  <% end %>

  <div class="field">
    <%= recipe.number_field :servings_for %> 人数
  </div>

  <%= render 'recipe_ingredients_fields', f: recipe %>
  <%= render 'recipe_procedures_fields', f: recipe %>

  <div class="actions">
    <%= recipe.submit '追加' %>
  </div>
<% end %>