

<div class="recipe-index">
  <h2>検索結果</h2>
  <hr>
  <div class="row row-cols-1 row-cols-md-3">
    <div class="col mb-4">
      <% @recipes.each do |recipe| %>
        <div class="card h-100">
          <%= image_tag recipe.image.url, class: "ard-img-top", alt: "Card image cap" if recipe.image? %>
          <div class="card-body">
            <h5 class="card-title">
              <%= link_to recipe.title, recipe_path(recipe), class: "card-link" %>
            </h5>
            <h6 class="card-subtitle text-muted"><%= recipe.category.name %></h6>
            <p class="card-text"><%= recipe.description %> / <%= recipe.user.name %></p>
          </div>
        </div>
        <%= recipe.daily_access %>
        <%= recipe.total_access %>
      <% end %>
    </div>
  </div>
</div>

