<div class="recipe-show rounded">

  <%= render 'categories/breadcrumb', recipe: @recipe %>

  <div class="d-flex justify-content-end">
    <div class="my-box w-25"><a class="p-2 text-muted" href="#">favorite</a></div>
    <% if user_signed_in? && @recipe.user.id == current_user.id %>
      <div class="my-box w-25">
        <%= link_to "編集", edit_recipe_path(@recipe), class: "p-2 text-muted" %>
      </div>
    <% end %>
    <div class="my-box w-25">
      <%= form_for @menu do |menu| %>
        <%= menu.hidden_field :recipe_id, value: @recipe.id %>
        <%= menu.select :servings_for, [['1',1],['2',2],['3',3],['4',4],['5',5]], class: "form-control" %> 人分
        <%= menu.submit '作る', class: "btn btn-outline-warning" %>
      <% end %>
    </div>
  </div>

  <div class="row headline">
    <h3 class="col-sm-9"><%= @recipe.title %></h3>
    <p class="text-right col-sm-3"> - <%= @recipe.user.name %></p>
  </div>

  <div class="row">
    <p class="col-sm-9"><%= @recipe.description %></p>
    <p class="text-right col-sm-3"><%= "約 #{@recipe.cooking_time} 分"%></p>
    <div class="recipe-image col-sm-6">
      <%= image_tag @recipe.image.url if @recipe.image? %>
    </div>
    <div class="col-sm-5">
      <h4>材料</h4>
      <p>　<%= @recipe.servings_for %>人分</p>
      <table class="table table-sm">
        <% @recipe.recipe_ingredients.each do |ingredient| %>
          <tr>
            <td>・<%= ingredient.ingredient.name %></td>
            <td>
              <%= ingredient.quantity %>
              <%= "（#{ingredient.gram}g）" if ingredient.gram? %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>

  <div class="row row-procedure">
    <h4>作り方</h4>
    <table class="table table-procedure">
      <% @recipe.recipe_procedures.each.with_index(1) do |procedure, i| %>
        <tr>
          <td><%= i %></td>
          <td><%= procedure.instruction %></td>
          <td><%= image_tag procedure.image.url, class: 'procedure-image' if procedure.image? %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>