<!DOCTYPE html>
<html>
  <head>
    <title>MyRecipeApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
          <% if user_signed_in? %>
      <%= current_user.name %>
      <%= link_to 'my page', user_path(current_user) %>
      <%= link_to 'logout', destroy_user_session_path, method: :delete, "data-confirm" => "本当にログアウトしますか？" %>
    <% else %>
      <%= link_to 'login', new_user_session_path %>
      <%= link_to 'sign up', new_user_registration_path %>
    <% end %>

    <%= link_to 'Recipe', recipes_path %>
    <%= link_to 'Category', categories_path %>
    <%= link_to 'New Recipe', new_recipe_path %>
    <%= link_to '材料', ingredients_path %>
    <% flash.each do |message_type, message| %>
      <div class="alert"><%= message %></div>
    <% end %>
    <%= yield %>
    </div>
  </body>
</html>
